<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                @* <p role="alert">Sorry, there's nothing at this address.</p> *@
                <p role="alert">죄송합니다. 해당 페이지는 존재하지 않습니다!</p>

            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
