@* @if((Items is null) || !Items.Any())
{
    <div>Loadding...</div>
}
else
{
    <h1>@Title</h1>

    @foreach(var pizza in Items)
    {
        <PizzaItem Pizza="@pizza" ButtonClass="@ButtonClass" ButtonTitle="@ButtonTitle"
            Selected="@Selected"></PizzaItem>
    }
} *@

<ItemList Items="@Items">
    <Header>
        <h1>@Title</h1>
    </Header>
    <RowTemplate Context="pizza"  >
        <PizzaItem Pizza="@pizza" ButtonClass="@ButtonClass" ButtonTitle="@ButtonTitle"
                   Selected="@Selected"></PizzaItem>
    </RowTemplate>
</ItemList>