
@{
    Layout = null;
}

<h1>레이저 표현식(구문) 학습</h1>

<h2>레이저 표현식(구문) 학습</h2>

@{
    var sum = 120;
}
@{
    var msg = "안녕하세요";
    var file = @"C:\ASPNET5\";
    var quote = @"안녕하세요. ""ASP.NET 5""";
}

<h2>인라인 표현식</h2>
<p>합계 : @sum</p>
<p>메시지 : @msg</p>
<p>경로 : @file </p>
<p>@quote</p>

<h2>API 출력</h2>
<div>
    @DateTime.Now.ToShortTimeString()
</div>

<div>
    이메일 : aspnet@dotnetkorea.com, a@("@")a.com
</div>
<div>
    트위터 : @@aspnet
</div>

<h2>조건문과 반복문</h2>
@{
    int age = 21;
}

<div>
    나이 : @age<br />
    @if(age % 2 == 0)
    {
        <span>짝수</span> <text>나이</text>
    }
    else 
    {
        <text>홀수</text> @:나이
    }
</div>

<div>
    @for(int i = 0; i < 10; i++)
    {
        <span>@i&nbsp;</span>
    }
</div>

<h2>인코딩 출력</h2>
@{
    var js = "<script>document.write('레이저 표현식');</script>";
}

@js
<div>
    @Html.Raw(js);
</div>

<a href="~/Home/Index">Home</a>


@Html.ActionLink("Home", "Index");
@Html.ActionLink("상세보기", "Details", new {id = 1234});
